/* colore nome utentes */
.azzurro{
    color: #96D9F1;
}

/* dimensione data */
.data{
    font-size: 80%;
    margin-top: 0%;
}

/* defiizioni immagini */

.image-definition{
    font-size: 50%;
    margin-top: 0%;
}

.full-text{
    font-size: 80%;
}

/* testo evidenziato */

.text1{
    background-color: yellow;
}

/* definizioni lista */
.list{
    margin-right: 0%;
    font-size: 50%;
}